@import 'vars';
@import 'libs';
@import 'fonts';
@import "global";

.header__wrapper {
  background-image: url('../img/header_bg.jpg');
  min-height: 751px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}

.main__menu {
  ul {
    li {
      display: inline-block;

      & + li {
        padding-left: 49px;
      }

      a {
        color: #fff;
        font-weight: 600;
        transition: all .3s;

        &:hover {
          color: $main-dark;
        }
      }
    }
  }
}

.main__menu-mobile {
  display: none;
  width: 30px;
  div {
    margin-bottom: 8px;
    background-color: #fff;
    height: 3px;
    border-radius: 5px;
  }
}

.header__btn-mobile {
  display: none;
}

.header__btn {
  a {
    color: #fff;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0 18px;
  }
}

.header__content {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
}

.header__info {
  &-title {
    font-size: 55px;
    line-height: 65px;
    color: #fff;
    font-weight: 800;
  }

  &-text {
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin-top: 30px;
  }
}

.header__info-btn {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 40px;
}

.dark__button {
  color: #fff;
  background-color: $main-dark;
  @extend %main__btn;
  margin-right: 30px;
}

.white__button {
  color: $main-dark;
  background-color: #fff;
  @extend %main__btn;
}

.header__video {
  position: relative;
  max-width: 635px;
}

.header__video-control {
  width: 60px;
  height: 60px;
  background-color: $main-dark;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);


  &::before {
    content: "\e904";
    font-family: 'icomoon';
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__video-text {
  color: $main-dark;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.benefits {
  margin-top: 100px;
  text-align: center;
}

.benefits__top {
  max-width: 558px;
  margin: 0 auto;
}

.benefits__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  padding-bottom: 15px;
}

.benefits__subtitle {
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  padding-bottom: 20px;
  color: $light-gray;
}

.benefits__descr {
  line-height: 25px;
  color: $light-gray;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: calc(33.3333 - 30px);
  margin-left: -30px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.benefits__item {
  margin-left: 30px;
  max-width: 350px;
  width: 100%;

  &-img {
    font-size: 80px;
    padding-bottom: 45px;
  }

  &-title {
    font-size: 25px;
    line-height: 25px;
    color: $main-dark;
    font-weight: 600;
    padding-bottom: 20px;
  }

  &-text {
    color: $light-gray;
  }
}

.icofont-tasks-alt {
  color: #b388ff;
}

.icofont-team {
  color: #80d8ff;
}

.icofont-worker {
  color: #ea80fc;
}

.benefits__btn {
  margin-bottom: 100px;

  a {
    @extend %main__btn;
    background-color: #1de9b6;
    color: #fff;
  }
}

.numbers {
  margin-bottom: 100px;
}

.numbers__items {
  display: flex;
  justify-content: space-between;
}

.numbers__item {
  max-width: 400px;
  width: 100%;
  padding: 45px 0 45px 90px;
  display: flex;
  align-items: center;

}

.numbers__img {
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  text-align: center;

  span {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
  }

  .icon-businessdomain {
    color: #80d8ff;
  }

  .icon-file_downloadget_app {
    color: #82b1ff;
  }

  .icon-person {
    color: #b388ff;
  }

  .file__installs {
    color: #ea80fc;
  }
}

.numbers__cyan {
  background-color: #80d8ff;
}

.numbers__blue {
  background-color: #82b1ff;
}

.numbers__purple {
  background-color: #b388ff;
}

.numbers__pink {
  background-color: #ea80fc;
}

.numbers__num,
.numbers__caption {
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
  color: #fff;
}

.services {
  margin-bottom: 100px;
}

.services__top {
  max-width: 557px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.services__title {
  font-size: 45px;
  line-height: 45px;
  color: $main-dark;
  padding-bottom: 30px;
}

.services__descr {
  color: $light-gray;
}

.services__accordion {
  max-width: 805px;
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;

    .inner {
      padding-left: 1em;
      overflow: hidden;
      display: none;

      &.show {
        /*display: block;*/
      }
    }

    li {
      margin-bottom: 20px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);

      padding: 25px;

      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        font-weight: 700;

        .icon-arrow_drop_down {
          position: absolute;
          right: 0;
          font-size: 20px;
          line-height: 25px;
          color: $main-dark;
        }

        .left__icon {
          padding-right: 25px;
        }
      }
    }
  }
}

.accordion__content {
  display: flex;
  align-items: center;
  padding-top: 25px;

}

.accordion__img {
  padding-right: 25px;
}

.shadow {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.reviews {
  background-image: url('../img/reviews__bg.jpg');
  min-height: 566px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
}

.reviews__inner {
  display: flex;
}

.reviews__content {
  max-width: 517px;
  width: 100%;
  margin-right: 165px;
}

.reviews__content-title {
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 30px;
  font-weight: 600;
  color: #fff;
  padding-top: 136px;
}

.reviews__content-descr {
  font-weight: 600;
  color: #fff;
  padding-bottom: 80px;
}

.reviews__content-btn {
  a {
    @extend %main__btn;
    background-color: $main-dark;
    color: #fff;
    text-align: center;
  }
}

.reviews__slider {
  max-width: 760px;
  width: 100%;
  margin-top: 89px;

  .slick-arrow {
    position: relative;
    font-size: 0;
    border: none;
    background-color: transparent;
    outline: none;
    left: 55%;
  }

  .slick-prev::before {
    content: "\e90a";
    font-family: 'icomoon';
    color: #fff;
    position: absolute;
    top: -60px;
    font-size: 45px;
  }

  .slick-next::before {
    content: "\e909";
    font-family: 'icomoon';
    color: #fff;
    position: absolute;
    bottom: 20px;
    font-size: 45px;
  }
}

.slider__content {
  display: flex;
  align-items: center;
}

.slider__content-avatar {
  margin-right: 50px;
}

.slider__content-info {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 32px 55px 32px 30px;
}

.slider__item {
  margin-bottom: 70px;
}

.slider__content-info__title {
  font-size: 18px;
  font-weight: 700;
  color: $main-dark;
  margin-bottom: 20px;
}

.slider__content-info__text {
  color: #78909c;
  font-style: italic;
}

.team {
  margin-bottom: 90px;
}

.team__top {
  max-width: 556px;
  margin: 0 auto;
  text-align: center;
}

.team__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 30px;
}

.team__descr {
  color: $light-gray;
}

.team__slider {
  max-width: 462px;
  margin: 0 auto;
  display: block;

  .slick-slide {
    transform: scale(.75);
    opacity: .5;
  }

  .slick-current.slick-active.slick-center {
    transform: scale(1.1);
    opacity: 1;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 186px;
      height: 186px;
      border: 20px solid #fff;
      border-radius: 50%;
      top: -10px;
      left: -10px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }

    &::after {
      content: '';
      position: absolute;
      width: 186px;
      height: 186px;
      border: 20px solid transparent;
      border-radius: 50%;
      top: -10px;
      left: -10px;
      box-shadow: inset 0 0 25px 15px rgba(0, 0, 0, 0.9);
    }
  }

  .slick-list {
    padding: 40px 15px !important;
    margin: 0 -10px !important;
  }

  .slick-slide {
    margin: 0 10px;
  }
}

.team__info-slider {
  max-width: 646px;
  text-align: center;
  margin: 0 auto;
}

.team__info-social {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin: 30px auto;

  a {
    font-size: 20px;
    color: #90a4ae;

    & + a {
      padding-left: 30px;
    }

    li {
      font-size: 20px;
      color: #90a4ae;
    }
  }
}

.team__info-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.team__info-text {
  color: #90a4ae;
}

.contact {
  padding-top: 50px;
  background-color: #fafafa;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.contact__top {
  max-width: 557px;
  margin: 0 auto 50px;
  text-align: center;
}

.contact__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  color: $main-dark;
  padding-bottom: 30px;
}

.contact__descr {
  color: $main-dark;
}

.contact__form {
  max-width: 603px;
  margin: 0 auto;

  form {
    input {
      height: 48px;
      border: 1px solid #000;
      font-size: 14px;
      color: $main-dark;
      line-height: 30px;
      border-radius: 5px;
      max-width: 279px;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 19px;

      &:nth-child(odd) {
        margin-right: 40px;
      }

      &::placeholder {
        color: $main-dark;
        line-height: 30px;
      }
    }

    textarea {
      height: 148px;
      border: 1px solid #000;
      font-size: 14px;
      color: $main-dark;
      line-height: 30px;
      border-radius: 5px;
      max-width: 603px;
      width: 100%;
      resize: none;
      padding: 10px 19px 19px;

      &::placeholder {
        color: $main-dark;
        line-height: 30px;
      }
    }
  }

  .contact__form-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      @extend %main__btn;
      background-color: #1de9b6;
      color: #fff;
      border: none;
      width: 130px;
    }

    label {
      color: $main-dark;
      font-weight: 500;
    }
  }
}

.jq-checkbox {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 2px solid $main-dark;
  background: transparent;
  box-shadow: none;
  cursor: pointer;

  &.focused,
  &.checked {
    border: 2px solid $main-dark;
  }
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 2px;
  border-bottom: none;
  border-left: none;
  transform: none;

  &::before {
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 13px;
    color: #061e37;
    top: -50%;
    left: 0;
    position: absolute;
  }
}


.footer {
  background-color: $main-dark;
  padding: 96px 0 88px;
}

.footer__top,
.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__top-menu {
  padding-bottom: 52px;

  ul {
    li {
      display: inline-block;

      & + li {
        padding-left: 49px;
      }

      a {
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.footer__bottom-menu {
  ul {
    li {
      display: inline-block;
      position: relative;

      & + li {
        padding-left: 44px;

        &::after {
          content: '';
          width: 5px;
          height: 5px;
          background-image: url('../img/ellipse.svg');
          background-repeat: no-repeat;
          position: absolute;
          top: 50%;
          left: 18px;
          transform: translateY(-50%);
        }
      }

      a {
        color: #fff;
        opacity: .5;
      }
    }
  }
}

.footer__bottom-social {
  ul {
    a {
      & + a {
        padding-left: 20px;
      }

      li {
        display: inline-block;
        color: rgba(#fff, .2);
        font-size: 20px;

      }
    }
  }
}

.footer__author {
  padding-top: 40px;
  color: #fff;
  max-width: 250px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;

  a {
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: .8;
      border-bottom: 2px solid #1de9b6;
    }
  }
}

.wow {
  visibility: hidden;
}

@import 'media';
